#restaurants-list {
    display:flex;
    flex-flow:row wrap; 
    justify-content: center;  
    background-color: #fffacd;
   list-style: outside none none;
   margin:auto;
   padding: 30px 15px 60px;
  } 

  /* ====================== Restaurant Listing ====================== */
 #restaurants-list li {
   background-color: #fff;
   border-bottom: 2px solid #ccc;
   font-family: Arial,sans-serif;
   margin:auto;
   padding: 0 30px 25px;
   padding-top:20px;
   width:280px;
 }
 #restaurants-list .restaurant-img {
   background-color: #ccc;
   display: block;
   border-radius:10px;
   margin: auto;
   max-width:100%;
 }
 #restaurants-list li h1 {
   color: #800000;
   font-family: Arial,sans-serif;
   font-size: 12pt;
   font-weight: bold;
   letter-spacing: 0;
   line-height: 1.4;
   margin: 20px 0 10px;
   text-transform: uppercase;
   text-align:center;
 }
 #restaurants-list p {
   margin-top: 10px;
   font-size: 14pt;
 }
 #restaurants-list li a {
   background-color:#800000;
   border-bottom: 3px solid #eee;
   border-radius:8px;
   color:#fff;
   display: inline-block;
  
   margin: 15px 0 0;
   padding: 8px 15px 10px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
 }


 /* ====================== Map ====================== */
#map {
  height: 400px;
  width: auto;
  background-color: #ccc;
  margin:auto;
  margin-top:20px;
  border:4px solid #fad;
  border-radius:5px;
  padding:20px;
}
 


/* Skipping Google map in tabbing order - forward */
#skip-forward a
{ 
position:absolute; 
left:-10000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;
} 
/* Skipping Google map in tabbing order - forward */
 #skip-forward a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
} 

#skip-backward a
{ 
position:absolute; 
left:-20000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;
} 
 #skip-backward a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
} 

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #fffacd;
  padding: 10px;
  max-width:1300px;
  margin-left:auto;
  margin-right:auto;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  margin:auto;
  font-size: 30px;
 }
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;

}
#header {
text-align:center;background-color:fffacd;width:100%;
}

#header a{
    text-decoration:none;color:#800000;text-shadow:3px 3px 8px #f0f;}

  @keyframes anmtn{
    0%{}
    100%{text-shadow:5px 5px 8px #333;}
  }
    
#main{
text-align:center;background-color:#fff;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	/* color: #fff; */
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

#footer {
  background-color:#fffacd;
  color: brown;
  font-size: 12pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
 
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
   height: auto;
  background-color:#fff;
  align-items: center;
  margin:auto;
  border:7px solid #ffa500;
  border-bottom:7px solid #fff;
  border-top:7px solid #fff;
  border-radius:2%;
}
.filter-options h2 {
  color: olive;
  font-size: 1.5rem;
  font-weight: normal;
  line-height:1.2em;
  margin: 0 20px;
  padding:5px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 250px;
}