*{box-sizing:border-box;}
/* Skipping Google map in tabbing order - forward */
#skip-forward a
{ 
position:absolute; 
left:-10000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;
} 
/* Skipping Google map in tabbing order - forward */
 #skip-forward a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
} 

#skip-backward a
{ 
position:absolute; 
left:-20000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;
} 
 #skip-backward a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
}  


  /* ====================== Map ====================== */
  #map {
    height: 300px;
    width:auto;
    background-color: #ccc;
    margin:auto;
    border:2px solid #fad;
    border-radius:5px;
  }

.grid-container {
  display:flex;
  flex-direction:column; 
  justify-content: center;
  background-color: #fffacd;
  padding: 10px;
  width:80%;
  margin:auto;
}
.grid-container > div {
  background-color:rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
#header a{
	text-decoration:none;color:#ffa500;text-shadow:3px 3px 10px #8BC34A;font-size:50px;

}

#footer a{
	text-decoration:none;
}
/* Display list items side by side */
#breadcrumb li {
    display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    font-size:30pt;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */

 #restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
 #restaurant-img {
  max-width: 100%;
  height:auto;
}
 #restaurant-address {
  font-size: 16pt;
 margin: 10px 0px;
}
 #restaurant-cuisine {
  background-color: #fff;
  color: olive;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 10px;
  margin: auto;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
}
 #restaurant-container{
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px;
  margin:auto;
}
 #reviews-container {
  padding: 25px;
  margin:auto;
}
 #reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
 #reviews-list {
   margin:auto;
   padding:30px;
   padding-top:20px;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  overflow: hidden;
  padding: 0 12px 12px;
  position: relative;
}
#reviews-list li button {
  width:100px;height:50px;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours{
  margin:auto;
}
 #restaurant-hours td {
  color: #666;
  text-align:left;
}